# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [72]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [73]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [74]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Step 5.  Is there any missing value in the dataframe?

In [75]:
iris.isnull().sum()

#iris.isnull().value_counts()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [76]:
iris.iloc[10:30, 2:3] = np.nan
iris.head(15)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [77]:
iris.petal_length = iris.petal_length.fillna(1.0)
iris.head(15)

#分组用均值填充
#iris.petal_length = iris.petal_length.fillna(iris.groupby('class')['petal_length'].mean())

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa

### Step 8. Now let's delete the column class

In [78]:
del iris['class']
# iris = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
iris

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 9.  Set the first 3 rows as NaN

In [79]:
iris.iloc[0:3, :] = np.nan
iris

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 10.  Delete the rows that have NaN

In [80]:
iris = iris.dropna(how='any')
iris

     sepal_length  sepal_width  petal_length  petal_width
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

### Step 11. Reset the index so it begins with 0 again

In [81]:
iris = iris.reset_index(drop = True)
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.0          3.6           1.4          0.2
1             5.4          3.9           1.7          0.4
2             4.6          3.4           1.4          0.3
3             5.0          3.4           1.5          0.2
4             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
141           6.7          3.0           5.2          2.3
142           6.3          2.5           5.0          1.9
143           6.5          3.0           5.2          2.0
144           6.2          3.4           5.4          2.3
145           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

### BONUS: Create your own question and answer it.

### 404 Finder

In [82]:
nun_m = 100
row = np.random.randint(0, iris.shape[0], size=nun_m)
col = np.random.randint(0, iris.shape[1], size=nun_m)

iris.values[row, col] = np.nan
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.0          3.6           1.4          0.2
1             NaN          3.9           1.7          0.4
2             4.6          NaN           1.4          0.3
3             5.0          3.4           1.5          NaN
4             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
141           6.7          3.0           5.2          2.3
142           6.3          2.5           NaN          NaN
143           NaN          3.0           5.2          2.0
144           6.2          3.4           5.4          2.3
145           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

In [83]:
list_404 = iris.isnull().stack().index.tolist()

for r, c in list_404:
    print(f'row:{r}, col:{c}')

row:0, col:sepal_length
row:0, col:sepal_width
row:0, col:petal_length
row:0, col:petal_width
row:1, col:sepal_length
row:1, col:sepal_width
row:1, col:petal_length
row:1, col:petal_width
row:2, col:sepal_length
row:2, col:sepal_width
row:2, col:petal_length
row:2, col:petal_width
row:3, col:sepal_length
row:3, col:sepal_width
row:3, col:petal_length
row:3, col:petal_width
row:4, col:sepal_length
row:4, col:sepal_width
row:4, col:petal_length
row:4, col:petal_width
row:5, col:sepal_length
row:5, col:sepal_width
row:5, col:petal_length
row:5, col:petal_width
row:6, col:sepal_length
row:6, col:sepal_width
row:6, col:petal_length
row:6, col:petal_width
row:7, col:sepal_length
row:7, col:sepal_width
row:7, col:petal_length
row:7, col:petal_width
row:8, col:sepal_length
row:8, col:sepal_width
row:8, col:petal_length
row:8, col:petal_width
row:9, col:sepal_length
row:9, col:sepal_width
row:9, col:petal_length
row:9, col:petal_width
row:10, col:sepal_length
row:10, col:sepal_width
row:10, col:petal_length
row:10, col:petal_width
row:11, col:sepal_length
row:11, col:sepal_width
row:11, col:petal_length
row:11, col:petal_width
row:12, col:sepal_length
row:12, col:sepal_width
row:12, col:petal_length
row:12, col:petal_width
row:13, col:sepal_length
row:13, col:sepal_width
row:13, col:petal_length
row:13, col:petal_width
row:14, col:sepal_length
row:14, col:sepal_width
row:14, col:petal_length
row:14, col:petal_width
row:15, col:sepal_length
row:15, col:sepal_width
row:15, col:petal_length
row:15, col:petal_width
row:16, col:sepal_length
row:16, col:sepal_width
row:16, col:petal_length
row:16, col:petal_width
row:17, col:sepal_length
row:17, col:sepal_width
row:17, col:petal_length
row:17, col:petal_width
row:18, col:sepal_length
row:18, col:sepal_width
row:18, col:petal_length
row:18, col:petal_width
row:19, col:sepal_length
row:19, col:sepal_width
row:19, col:petal_length
row:19, col:petal_width
row:20, col:sepal_length
row:20, col:sepal_width
row:20, col:petal_length
row:20, col:petal_width
row:21, col:sepal_length
row:21, col:sepal_width
row:21, col:petal_length
row:21, col:petal_width
row:22, col:sepal_length
row:22, col:sepal_width
row:22, col:petal_length
row:22, col:petal_width
row:23, col:sepal_length
row:23, col:sepal_width
row:23, col:petal_length
row:23, col:petal_width
row:24, col:sepal_length
row:24, col:sepal_width
row:24, col:petal_length
row:24, col:petal_width
row:25, col:sepal_length
row:25, col:sepal_width
row:25, col:petal_length
row:25, col:petal_width
row:26, col:sepal_length
row:26, col:sepal_width
row:26, col:petal_length
row:26, col:petal_width
row:27, col:sepal_length
row:27, col:sepal_width
row:27, col:petal_length
row:27, col:petal_width
row:28, col:sepal_length
row:28, col:sepal_width
row:28, col:petal_length
row:28, col:petal_width
row:29, col:sepal_length
row:29, col:sepal_width
row:29, col:petal_length
row:29, col:petal_width
row:30, col:sepal_length
row:30, col:sepal_width
row:30, col:petal_length
row:30, col:petal_width
row:31, col:sepal_length
row:31, col:sepal_width
row:31, col:petal_length
row:31, col:petal_width
row:32, col:sepal_length
row:32, col:sepal_width
row:32, col:petal_length
row:32, col:petal_width
row:33, col:sepal_length
row:33, col:sepal_width
row:33, col:petal_length
row:33, col:petal_width
row:34, col:sepal_length
row:34, col:sepal_width
row:34, col:petal_length
row:34, col:petal_width
row:35, col:sepal_length
row:35, col:sepal_width
row:35, col:petal_length
row:35, col:petal_width
row:36, col:sepal_length
row:36, col:sepal_width
row:36, col:petal_length
row:36, col:petal_width
row:37, col:sepal_length
row:37, col:sepal_width
row:37, col:petal_length
row:37, col:petal_width
row:38, col:sepal_length
row:38, col:sepal_width
row:38, col:petal_length
row:38, col:petal_width
row:39, col:sepal_length
row:39, col:sepal_width
row:39, col:petal_length
row:39, col:petal_width
row:40, col:sepal_length
row:40, col:sepal_width
row:40, col:petal_length
row:40, col:petal_width
row:41, col:sepal_length
row:41, col:sepal_width
row:41, col:petal_length
row:41, col:petal_width
row:42, col:sepal_length
row:42, col:sepal_width
row:42, col:petal_length
row:42, col:petal_width
row:43, col:sepal_length
row:43, col:sepal_width
row:43, col:petal_length
row:43, col:petal_width
row:44, col:sepal_length
row:44, col:sepal_width
row:44, col:petal_length
row:44, col:petal_width
row:45, col:sepal_length
row:45, col:sepal_width
row:45, col:petal_length
row:45, col:petal_width
row:46, col:sepal_length
row:46, col:sepal_width
row:46, col:petal_length
row:46, col:petal_width
row:47, col:sepal_length
row:47, col:sepal_width
row:47, col:petal_length
row:47, col:petal_width
row:48, col:sepal_length
row:48, col:sepal_width
row:48, col:petal_length
row:48, col:petal_width
row:49, col:sepal_length
row:49, col:sepal_width
row:49, col:petal_length
row:49, col:petal_width
row:50, col:sepal_length
row:50, col:sepal_width
row:50, col:petal_length
row:50, col:petal_width
row:51, col:sepal_length
row:51, col:sepal_width
row:51, col:petal_length
row:51, col:petal_width
row:52, col:sepal_length
row:52, col:sepal_width
row:52, col:petal_length
row:52, col:petal_width
row:53, col:sepal_length
row:53, col:sepal_width
row:53, col:petal_length
row:53, col:petal_width
row:54, col:sepal_length
row:54, col:sepal_width
row:54, col:petal_length
row:54, col:petal_width
row:55, col:sepal_length
row:55, col:sepal_width
row:55, col:petal_length
row:55, col:petal_width
row:56, col:sepal_length
row:56, col:sepal_width
row:56, col:petal_length
row:56, col:petal_width
row:57, col:sepal_length
row:57, col:sepal_width
row:57, col:petal_length
row:57, col:petal_width
row:58, col:sepal_length
row:58, col:sepal_width
row:58, col:petal_length
row:58, col:petal_width
row:59, col:sepal_length
row:59, col:sepal_width
row:59, col:petal_length
row:59, col:petal_width
row:60, col:sepal_length
row:60, col:sepal_width
row:60, col:petal_length
row:60, col:petal_width
row:61, col:sepal_length
row:61, col:sepal_width
row:61, col:petal_length
row:61, col:petal_width
row:62, col:sepal_length
row:62, col:sepal_width
row:62, col:petal_length
row:62, col:petal_width
row:63, col:sepal_length
row:63, col:sepal_width
row:63, col:petal_length
row:63, col:petal_width
row:64, col:sepal_length
row:64, col:sepal_width
row:64, col:petal_length
row:64, col:petal_width
row:65, col:sepal_length
row:65, col:sepal_width
row:65, col:petal_length
row:65, col:petal_width
row:66, col:sepal_length
row:66, col:sepal_width
row:66, col:petal_length
row:66, col:petal_width
row:67, col:sepal_length
row:67, col:sepal_width
row:67, col:petal_length
row:67, col:petal_width
row:68, col:sepal_length
row:68, col:sepal_width
row:68, col:petal_length
row:68, col:petal_width
row:69, col:sepal_length
row:69, col:sepal_width
row:69, col:petal_length
row:69, col:petal_width
row:70, col:sepal_length
row:70, col:sepal_width
row:70, col:petal_length
row:70, col:petal_width
row:71, col:sepal_length
row:71, col:sepal_width
row:71, col:petal_length
row:71, col:petal_width
row:72, col:sepal_length
row:72, col:sepal_width
row:72, col:petal_length
row:72, col:petal_width
row:73, col:sepal_length
row:73, col:sepal_width
row:73, col:petal_length
row:73, col:petal_width
row:74, col:sepal_length
row:74, col:sepal_width
row:74, col:petal_length
row:74, col:petal_width
row:75, col:sepal_length
row:75, col:sepal_width
row:75, col:petal_length
row:75, col:petal_width
row:76, col:sepal_length
row:76, col:sepal_width
row:76, col:petal_length
row:76, col:petal_width
row:77, col:sepal_length
row:77, col:sepal_width
row:77, col:petal_length
row:77, col:petal_width
row:78, col:sepal_length
row:78, col:sepal_width
row:78, col:petal_length
row:78, col:petal_width
row:79, col:sepal_length
row:79, col:sepal_width
row:79, col:petal_length
row:79, col:petal_width
row:80, col:sepal_length
row:80, col:sepal_width
row:80, col:petal_length
row:80, col:petal_width
row:81, col:sepal_length
row:81, col:sepal_width
row:81, col:petal_length
row:81, col:petal_width
row:82, col:sepal_length
row:82, col:sepal_width
row:82, col:petal_length
row:82, col:petal_width
row:83, col:sepal_length
row:83, col:sepal_width
row:83, col:petal_length
row:83, col:petal_width
row:84, col:sepal_length
row:84, col:sepal_width
row:84, col:petal_length
row:84, col:petal_width
row:85, col:sepal_length
row:85, col:sepal_width
row:85, col:petal_length
row:85, col:petal_width
row:86, col:sepal_length
row:86, col:sepal_width
row:86, col:petal_length
row:86, col:petal_width
row:87, col:sepal_length
row:87, col:sepal_width
row:87, col:petal_length
row:87, col:petal_width
row:88, col:sepal_length
row:88, col:sepal_width
row:88, col:petal_length
row:88, col:petal_width
row:89, col:sepal_length
row:89, col:sepal_width
row:89, col:petal_length
row:89, col:petal_width
row:90, col:sepal_length
row:90, col:sepal_width
row:90, col:petal_length
row:90, col:petal_width
row:91, col:sepal_length
row:91, col:sepal_width
row:91, col:petal_length
row:91, col:petal_width
row:92, col:sepal_length
row:92, col:sepal_width
row:92, col:petal_length
row:92, col:petal_width
row:93, col:sepal_length
row:93, col:sepal_width
row:93, col:petal_length
row:93, col:petal_width
row:94, col:sepal_length
row:94, col:sepal_width
row:94, col:petal_length
row:94, col:petal_width
row:95, col:sepal_length
row:95, col:sepal_width
row:95, col:petal_length
row:95, col:petal_width
row:96, col:sepal_length
row:96, col:sepal_width
row:96, col:petal_length
row:96, col:petal_width
row:97, col:sepal_length
row:97, col:sepal_width
row:97, col:petal_length
row:97, col:petal_width
row:98, col:sepal_length
row:98, col:sepal_width
row:98, col:petal_length
row:98, col:petal_width
row:99, col:sepal_length
row:99, col:sepal_width
row:99, col:petal_length
row:99, col:petal_width
row:100, col:sepal_length
row:100, col:sepal_width
row:100, col:petal_length
row:100, col:petal_width
row:101, col:sepal_length
row:101, col:sepal_width
row:101, col:petal_length
row:101, col:petal_width
row:102, col:sepal_length
row:102, col:sepal_width
row:102, col:petal_length
row:102, col:petal_width
row:103, col:sepal_length
row:103, col:sepal_width
row:103, col:petal_length
row:103, col:petal_width
row:104, col:sepal_length
row:104, col:sepal_width
row:104, col:petal_length
row:104, col:petal_width
row:105, col:sepal_length
row:105, col:sepal_width
row:105, col:petal_length
row:105, col:petal_width
row:106, col:sepal_length
row:106, col:sepal_width
row:106, col:petal_length
row:106, col:petal_width
row:107, col:sepal_length
row:107, col:sepal_width
row:107, col:petal_length
row:107, col:petal_width
row:108, col:sepal_length
row:108, col:sepal_width
row:108, col:petal_length
row:108, col:petal_width
row:109, col:sepal_length
row:109, col:sepal_width
row:109, col:petal_length
row:109, col:petal_width
row:110, col:sepal_length
row:110, col:sepal_width
row:110, col:petal_length
row:110, col:petal_width
row:111, col:sepal_length
row:111, col:sepal_width
row:111, col:petal_length
row:111, col:petal_width
row:112, col:sepal_length
row:112, col:sepal_width
row:112, col:petal_length
row:112, col:petal_width
row:113, col:sepal_length
row:113, col:sepal_width
row:113, col:petal_length
row:113, col:petal_width
row:114, col:sepal_length
row:114, col:sepal_width
row:114, col:petal_length
row:114, col:petal_width
row:115, col:sepal_length
row:115, col:sepal_width
row:115, col:petal_length
row:115, col:petal_width
row:116, col:sepal_length
row:116, col:sepal_width
row:116, col:petal_length
row:116, col:petal_width
row:117, col:sepal_length
row:117, col:sepal_width
row:117, col:petal_length
row:117, col:petal_width
row:118, col:sepal_length
row:118, col:sepal_width
row:118, col:petal_length
row:118, col:petal_width
row:119, col:sepal_length
row:119, col:sepal_width
row:119, col:petal_length
row:119, col:petal_width
row:120, col:sepal_length
row:120, col:sepal_width
row:120, col:petal_length
row:120, col:petal_width
row:121, col:sepal_length
row:121, col:sepal_width
row:121, col:petal_length
row:121, col:petal_width
row:122, col:sepal_length
row:122, col:sepal_width
row:122, col:petal_length
row:122, col:petal_width
row:123, col:sepal_length
row:123, col:sepal_width
row:123, col:petal_length
row:123, col:petal_width
row:124, col:sepal_length
row:124, col:sepal_width
row:124, col:petal_length
row:124, col:petal_width
row:125, col:sepal_length
row:125, col:sepal_width
row:125, col:petal_length
row:125, col:petal_width
row:126, col:sepal_length
row:126, col:sepal_width
row:126, col:petal_length
row:126, col:petal_width
row:127, col:sepal_length
row:127, col:sepal_width
row:127, col:petal_length
row:127, col:petal_width
row:128, col:sepal_length
row:128, col:sepal_width
row:128, col:petal_length
row:128, col:petal_width
row:129, col:sepal_length
row:129, col:sepal_width
row:129, col:petal_length
row:129, col:petal_width
row:130, col:sepal_length
row:130, col:sepal_width
row:130, col:petal_length
row:130, col:petal_width
row:131, col:sepal_length
row:131, col:sepal_width
row:131, col:petal_length
row:131, col:petal_width
row:132, col:sepal_length
row:132, col:sepal_width
row:132, col:petal_length
row:132, col:petal_width
row:133, col:sepal_length
row:133, col:sepal_width
row:133, col:petal_length
row:133, col:petal_width
row:134, col:sepal_length
row:134, col:sepal_width
row:134, col:petal_length
row:134, col:petal_width
row:135, col:sepal_length
row:135, col:sepal_width
row:135, col:petal_length
row:135, col:petal_width
row:136, col:sepal_length
row:136, col:sepal_width
row:136, col:petal_length
row:136, col:petal_width
row:137, col:sepal_length
row:137, col:sepal_width
row:137, col:petal_length
row:137, col:petal_width
row:138, col:sepal_length
row:138, col:sepal_width
row:138, col:petal_length
row:138, col:petal_width
row:139, col:sepal_length
row:139, col:sepal_width
row:139, col:petal_length
row:139, col:petal_width
row:140, col:sepal_length
row:140, col:sepal_width
row:140, col:petal_length
row:140, col:petal_width
row:141, col:sepal_length
row:141, col:sepal_width
row:141, col:petal_length
row:141, col:petal_width
row:142, col:sepal_length
row:142, col:sepal_width
row:142, col:petal_length
row:142, col:petal_width
row:143, col:sepal_length
row:143, col:sepal_width
row:143, col:petal_length
row:143, col:petal_width
row:144, col:sepal_length
row:144, col:sepal_width
row:144, col:petal_length
row:144, col:petal_width
row:145, col:sepal_length
row:145, col:sepal_width
row:145, col:petal_length
row:145, col:petal_width